section.about-5(class="section-py")
	.container 
		h2(class="title-48") Cost Control by Detailed Design
		.content(class="mt-base text-32 font-normal text-Neutral-Black") By conducting a Basic Design before deciding on a general contractor, we can scrutinize the details of the design, clarify the overall cost, and manage the appropriate cost until the completion of construction. Minimize additions and changes at the Construction stage.
		.about-5-main(class="flex gap-base my-10")
			.col-left(class="w-6/12")
				.image 
					a(href="#" class="img-ratio ratio:pt-[647_680] lozad")
						img(src="./img/design-1.png", alt="") 
			.col-right(class="w-6/12")
				.image 
					a(href="#" class="img-ratio ratio:pt-[647_680] lozad")
						img(src="./img/design-2.png", alt="") 
		.about-5-bottom(class="bg-Neutral-50 p-6 font-secondary") 
			ul 
				li By conducting the Basic Design, the contents of the tender will be clarified, reducing the likelihood of additional changes during the construction stage.
				li By conducting the Basic Design, the contents of the tender will be clarified, reducing the likelihood of additional changes during the construction stage.
				li By conducting the Basic Design, the contents of the tender will be clarified, reducing the likelihood of additional changes during the construction stage.