section.solution-detail-banner(setBackground="./img/solution-bg.png" class="relative rem:h-[520px] overflow-hidden")
	.container
		.content(class="absolute w-full h-full top-0 py-15 flex flex-col") 
			.top(class="text-5xl underline text-Neutral-White") Acecook Vietnam Head Office
			.bottom(class="mt-auto font-secondary text-2xl text-Neutral-White font-normal") 
				| Creating an office environment where workers are happy 
				br
				| as a leading company in ASEAN
section.global-breadcrumb
	.container
		nav(aria-label="breadcrumbs", class="rank-math-breadcrumb")
			p
				a(href="https://oracle.webcanhcam.vn") Trang chủ
				span(class="separator")  | 
				span(class="last") Về chúng tôi
section.solution-detail-issue(class="pt-20")
	.container 
		.heading(class="rem:w-[919px] mx-auto pb-20 border-b-4 border-b-Neutral-Black")
			h2(class="title-40 mb-base text-center") 【ISSUES】
			ul.nav(class="font-secondary")
				li -It is essential to establish a base from which information can be disseminated to the rest of the world.
				li -It is essential to establish a base from which information can be disseminated to the rest of the world.
				li -It is essential to establish a base from which information can be
section.solution-detail-1(class="section-py")
	.container 
		.heading(class="rem:w-[575px] mx-auto text-center")
			h2(class="title-40 mb-3 text-center") 【SOLUTION1】
			.desc(class="text-32 font-normal text-Neutral-Black") Achieve Japanese quality at low cost at local level
		.solution-detail-1-main(class="flex items-center lg:rem:gap-[165px] gap-base mt-base")
			.col-left(class="lg:rem:w-[676px] md:w-[46] w-full")
				ul 
					li -Utilize high quality materials distributed in the Vietnamese market
					li >Low cost by utilizing the tariff system within the ASEAN Free Trade Area (AFTA)
					li -Support local design staff in Japan
			.col-right(class="lg:w-[calc(100%-35.208333333333336rem-8.59375rem)] w-full")
				.image(class="rem:w-[319px] rem:h-[315px]") 
					a(href="#" class="w-full h-full block lozad")
						img(src="./img/global.png", alt="" class="w-full h-full object-contain") 
section.solution-detail-2(class="lg:pt-20 pt-10")
	.container 
		.heading(class="rem:w-[575px] mx-auto text-center")
			h2(class="title-40 mb-3 text-center") 【SOLUTION2】
			.desc(class="text-32 font-normal text-Neutral-Black") Improve corporate brand value through high-quality office space with Japanese specifications
		.wrapper(class="flex items-center gap-base mt-base")
			.col-left(class="w-6/12")
				ul 
					li -Utilize high quality materials distributed in the Vietnamese market
					li >Low cost by utilizing the tariff system within the ASEAN Free Trade Area (AFTA)
					li -Support local design staff in Japan
			.col-right(class="w-6/12")
				.image 
					a(href="#" class="img-ratio ratio:pt-[383_680] lozad")
						img(src="./img/1.jpg", alt="") 
section.solution-detail-3(class="section-py")
	.container 
		.heading(class="rem:w-[575px] mx-auto text-center")
			h2(class="title-40 mb-3 text-center") 【SOLUTION2】
			.desc(class="text-32 font-normal text-Neutral-Black") Improve corporate brand value through high-quality office space with Japanese specifications
		.wrapper(class="flex items-center gap-base mt-base")
			.col-left(class="w-6/12")
				ul 
					li -Utilize high quality materials distributed in the Vietnamese market
					li >Low cost by utilizing the tariff system within the ASEAN Free Trade Area (AFTA)
					li -Support local design staff in Japan
			.col-right(class="w-6/12")
				.image 
					a(href="#" class="img-ratio ratio:pt-[383_680] lozad")
						img(src="./img/1.jpg", alt="") 
.button-solution(class="flex-center mb-20")
	+ButtonPrimary()