section.about-2(class="section-py")
	.container
		ul.about-2-menu#main-menu 
			li 
				a(href="#about-3") SERVICE
			li 
				a(href="#about-6") MISSION - CORE VALUE 
			li 
				a(href="#about-7") TOP MESSAGE 
			li 
				a(href="#about-8") COMPANY OUTLINE

