+TitleBreadcrumb()
section.global-breadcrumb
	.container
		nav(aria-label="breadcrumbs", class="rank-math-breadcrumb")
			p
				a(href="https://oracle.webcanhcam.vn") Trang chủ
				span(class="separator")  | 
				span(class="last") Về chúng tôi
section.project-detail(class="section-py")
	h2(class="title-40 mb-base text-center") Acecook Vietnam Head Office
	.project-image 
		a(href="#" class="img-ratio ratio:pt-[860_1920] lozad")
			img(src="./img/1.jpg", alt="") 
	.container 
		.project-detail-heading(class="section-py") 
			h2.title-32 Acecook Vietnam Head Office
			.desc(class="text-lg font-secondary text-justify font-normal mt-base") Acecook Co., Ltd., a manufacturer and seller of instant noodles and soups, commissioned this project for the company’s new Vietnam Office, which supervises its overseas offices. Acecook generates more than half the instant noodle sales in Vietnam, and this building forms part of the company’s endeavors to propose new value to the market. Creating “an environment where employees can enjoy the work more and gain greater satisfaction from it” was the concept underlying the structure. The entrance’s interior design evokes elements of cup noodles, highlighting the company’s corporate identity. A sense of depth is felt from a facade designed by combining small lattices and glass, and an open-ceiling space connects all floors in the building on the facade side. Workplaces on each floor are thus linked under soft natural light with the intention to promote communication within the company.
		.project-detail-data(class="pb-20")
			.heading 
				h2.title-32 Data
				.project-detail-data-list(class="lg:rem:w-[1160px] w-full mx-auto grid md:grid-cols-3 grid-cols-2 gap-x-10 gap-y-6  mt-base")
					.item 
						.icon 
							i.fa-solid.fa-location-dot
						span Location: Ho Chi Minh City, Vietnam
					.item 
						.icon 
							i.fa-solid.fa-layer-group
						span Floors: 6 aboveground, 1 belowground
					.item 
						.icon 
							i.fa-solid.fa-kaaba
						span Structure: RC
					.item 
						.icon 
							i.fa-solid.fa-calendar-days
						span Design period: Dec. 2016-Sep. 2017
					.item 
						.icon 
							i.fa-solid.fa-calendar-range
						span Construction period: Oct. 2017-Aug. 2018
					.item 
						.icon 
							i.fa-solid.fa-square-dashed
						span Total floor area: 11,433 m2
		.project-detail-lists(class="flex flex-col gap-base")
			.image 
				a(href="#" class="img-ratio ratio:pt-[934_1400] lozad")
					img(src="./img/1.jpg", alt="") 
			.image 
				a(href="#" class="img-ratio ratio:pt-[934_1400] lozad")
					img(src="./img/1.jpg", alt="") 
			.image 
				a(href="#" class="img-ratio ratio:pt-[934_1400] lozad")
					img(src="./img/1.jpg", alt="") 
			.image 
				a(href="#" class="img-ratio ratio:pt-[934_1400] lozad")
					img(src="./img/1.jpg", alt="") 
		.project-detail-bottom(class="lg:mt-20 mt-base flex items-center justify-between")
			.left(class="flex items-center gap-3") 
				.icon(class="text-2xl")
					i.fa-regular.fa-arrow-left-long
				span(class="text-lg font-normal") Prev
			.button 
				+ButtonPrimary()
			.left(class="flex items-center gap-3")  
				span(class="text-lg font-normal") Next
				.icon(class="text-2xl") 
					i.fa-regular.fa-arrow-right-long
section.project-detail-related(class="section-py bg-Neutral-50")
	.container
		h2(class="title-40 font-normal text-center mb-base") RELATED PROJECTS & CONTENTS
		.project-related-list(class="grid md:grid-cols-3 grid-cols-1 gap-base")
			+projectItem()
			+projectItem()
			+projectItem()


