extends ./_layout/_default.pug
	
block var
	- var title = ''
	- var bodyClass = 'home'
	
block main
	include ../components/modules/home/home-1/home-1
	include ../components/modules/home/home-2/home-2
	include ../components/modules/home/home-3/home-3
	include ../components/modules/home/home-4/home-4
	include ../components/modules/home/home-5/home-5
	include ../components/modules/home/home-6/home-6