section.home-1(class="relative hidden md:block")
	.swiper.swiper-home-banner
		.swiper-wrapper 
			.swiper-slide
				.home-1-banner(class="relative") 
					a(href="#" class="img-ratio ratio:pt-[960_1920]")
						img(src="./img/1.jpg", alt="") 
					.home-1-banner 
						.content(class="absolute rem:bottom-[134px] rem:pl-[260px] text-Neutral-White z-20") 
							h2(class="rem:text-[52px] font-bold uppercase mb-3") 
								|CONTRIBUTE TO THE REALIZATION OF A
								br
								| BETTER SOCIETY
							.text(class="rem:text-[24px] font-normal mb-base") Constantly take on new challenges and continue to grow
			.swiper-slide
				.home-1-banner(class="relative") 
					a(href="#" class="img-ratio ratio:pt-[960_1920]")
						img(src="https://picsum.photos/1040/585", alt="") 
					.home-1-banner 
						.content(class="absolute rem:bottom-[134px] rem:pl-[260px] text-Neutral-White z-20") 
							h2(class="rem:text-[52px] font-bold uppercase mb-3") 
								|CONTRIBUTE TO THE REALIZATION OF A
								br
								| BETTER SOCIETY
							.text(class="rem:text-[24px] font-normal mb-base") Constantly take on new challenges and continue to grow
			.swiper-slide
				.home-1-banner(class="relative") 
					a(href="#" class="img-ratio ratio:pt-[960_1920]")
						img(src="./img/1.jpg", alt="") 
					.home-1-banner 
						.content(class="absolute rem:bottom-[134px] rem:pl-[260px] text-Neutral-White z-20") 
							h2(class="rem:text-[52px] font-bold uppercase mb-3") 
								|CONTRIBUTE TO THE REALIZATION OF A
								br
								| BETTER SOCIETY
							.text(class="rem:text-[24px] font-normal mb-base") Constantly take on new challenges and continue to grow
			.swiper-slide
				.home-1-banner(class="relative") 
					a(href="#" class="img-ratio ratio:pt-[960_1920]")
						img(src="./img/1.jpg", alt="") 
					.home-1-banner 
						.content(class="absolute rem:bottom-[134px] rem:pl-[260px] text-Neutral-White z-20") 
							h2(class="rem:text-[52px] font-bold uppercase mb-3") 
								|CONTRIBUTE TO THE REALIZATION OF A
								br
								| BETTER SOCIETY
							.text(class="rem:text-[24px] font-normal mb-base") Constantly take on new challenges and continue to grow
	.swiper-pagination-wrapper(class="absolute  rem:left-[256px] rem:bottom-[6.5rem] flex items-center gap-base z-30 text-Neutral-White") 
		.btn-left(class="cursor-pointer") 
			i.fa-light.fa-chevron-left
		.pagination(class="flex items-center gap-5") 	
		.btn-right(class="cursor-pointer")  
			i.fa-light.fa-chevron-right
section.home-1-mobile(class="block md:hidden relative")
	.swiper.swiper-home-banner-mobile 
		.swiper-wrapper 
			.swiper-slide
				.home-1-banner-mobile(class="relative") 
					a(href="#" class="")
						img(src="./img/banner-mobile.png", alt="") 
					.content(class="absolute bottom-6 text-Neutral-White z-20") 
						h2(class="text-30 font-bold uppercase mb-3") 
							|CONTRIBUTE TO THE REALIZATION OF A
							br
							| BETTER SOCIETY
						.text(class="rem:text-[24px] font-normal mb-base") Constantly take on new challenges and continue to grow
			.swiper-slide
				.home-1-banner-mobile(class="relative") 
					a(href="#" class="")
						img(src="./img/1.jpg", alt="") 
					.content(class="absolute bottom-6 text-Neutral-White z-20") 
						h2(class="text-30 font-bold uppercase mb-3") 
							|CONTRIBUTE TO THE REALIZATION OF A
							br
							| BETTER SOCIETY
						.text(class="rem:text-[24px] font-normal mb-base") Constantly take on new challenges and continue to grow
			.swiper-slide
				.home-1-banner-mobile(class="relative") 
					a(href="#" class="")
						img(src="./img/banner-mobile.png", alt="") 
					.content(class="absolute bottom-6 text-Neutral-White z-20") 
						h2(class="text-30 font-bold uppercase mb-3") 
							|CONTRIBUTE TO THE REALIZATION OF A
							br
							| BETTER SOCIETY
						.text(class="rem:text-[24px] font-normal mb-base") Constantly take on new challenges and continue to grow
	.swiper-pagination-wrapper-mobile(class="absolute  left-5 bottom-5 flex items-center gap-base z-30 text-Neutral-White") 
		.btn-left(class="cursor-pointer") 
			i.fa-light.fa-chevron-left
		.pagination-mobile(class="flex items-center gap-5") 	
		.btn-right(class="cursor-pointer")  
			i.fa-light.fa-chevron-right
						
