+TitleBreadcrumb()
section.global-breadcrumb
	.container
		nav(aria-label="breadcrumbs", class="rank-math-breadcrumb")
			p
				a(href="https://oracle.webcanhcam.vn") Trang chủ
				span(class="separator")  | 
				span(class="last") Về chúng tôi
section.contact-1(class="section-py")
	.container 
		.heading 
			h2(class="title-48") Inquiries regarding business requests
			.content(class="mt-base font-secondary text-lg text-center lg:rem:w-[1098px] mx-auto w-full")
				.desc(class="font-normal") 
					| Your personal information will not be used for any purpose other than responding to your inquiries. Please see our 
					a(href="#" class="underline") privacy policy 
					br
					| for information on how we handle personal information .
					.label ( Fields marked with * are required.)
		.contact-form
			form.contact-1-form(action="") 
				.form-field(class="") 
					.left
						label(for="") Company Name
					.right  
						input(type="text")
				.form-field(class="") 
					.left
						label(for="") Name*
					.right  
						input(type="text")
				.form-field(class="") 
					.left
						label(for="") Room/ department
					.right  
						input(type="text")
				.form-field(class="") 
					.left
						label(for="") Post code
					.right  
						input(type="text")
				.form-field(class="") 
					.left
						label(for="") Address
					.right  
						input(type="text")
				.form-field.phone(class="") 
					.left
						label(for="") Phone number*
						span *Please enter numbers in half-width characters.
					.right  
						input(type="text")
				.form-field(class="") 
					.left
						label(for="") Email*
					.right  
						input(type="text")
				.form-field.email(class="") 
					.left
						label(for="") Confirmation email*
						span *Please enter it again to confirm.
					.right  
						input(type="text")
				.form-field(class="") 
					.left
						label(for="") Request content*
					.right  
						textarea#myTextarea(name="myName")
			.contact-1-submit(class="mt-base text-center") 
				.text(class="text-lg font-secondary font-normal") If there are no problems with the above content, please submit your input.
				.button(class="mt-15") 
					a.button-primary.black(href="#") 
						span Proceed to confirmation screen
						.icon 
							i.fa-light.fa-arrow-right-long
section.contact-2(class="section-py")
	.container 
		.heading 
			h2(class="title-48") Inquiries regarding business requests
			.content(class="mt-base font-secondary text-lg text-center lg:rem:w-[1098px] mx-auto w-full")
				.desc(class="font-normal") 
					| Your personal information will not be used for any purpose other than responding to your inquiries. Please see our 
					a(href="#" class="underline") privacy policy 
					br
					| for information on how we handle personal information .
					.label ( Fields marked with * are required.)
		.contact-2-form
			.show-form-field 
				.left 
					label(for="") Company Name
				.right
					.text PLANTEC ARCHITECTS LTD
			.show-form-field 
				.left 
					label(for="") Name*
				.right
					.text Apród Endre
			.show-form-field 
				.left 
					label(for="") Room/ department
				.right
					.text Maintenance
			.show-form-field 
				.left 
					label(for="") Post code
				.right
					.text 4553CP
			.show-form-field 
				.left 
					label(for="") Address
				.right
					.text 4517 Washington Ave. Manchester, Kentucky 39495
			.show-form-field.phone
				.left 
					label(for="") Phone number*
					span *Please enter numbers in half-width characters.
				.right
					.text (209) 555-0104
			.show-form-field 
				.left 
					label(for="") Email*
				.right
					.text tim.jennings@example.com
			.show-form-field.email 
				.left 
					label(for="") Confirmation email*
					span *Please enter it again to confirm.
				.right
					.text tim.jennings@example.com
			.show-form-field 
				.left 
					label(for="") Request content*
				.right
					.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus, ut interdum tellus elit sed risus. Maecenas eget condimentum velit, sit amet feugiat lectus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent auctor purus luctus enim egestas, ac scelerisque ante pulvinar. Donec ut rhoncus ex. Suspendisse ac rhoncus nisl, eu tempor urna. Curabitur vel bibendum lorem. Morbi convallis convallis diam sit amet lacinia. Aliquam in elementum tellus.
		.contact-2-bottom(class="mt-base text-center")
			.text(class="text-lg font-secondary font-normal") If there are no problems with the above content, please submit your input.
			.button(class="mt-15 flex items-center justify-center gap-base") 
				a.button-primary.secondary(href="#") 
					span Return
					.icon 
						i.fa-light.fa-arrow-right-long
				a.button-primary.black(href="#") 
					span Send
					.icon 
						i.fa-light.fa-arrow-right-long
section.contact-3(class="section-py")
	.container 
		.heading 
			h2(class="title-48") complete sending message
			.content(class="mt-base font-secondary text-lg text-center lg:rem:w-[1098px] w-full mx-auto")
				.desc(class="font-normal")
					| Thank you for contacting us.
					br
					|  We have received your information and will respond as soon as possible.
					br
					| Thank you for your interest.