+TitleBreadcrumb()
section.global-breadcrumb
	.container
		nav(aria-label="breadcrumbs", class="rank-math-breadcrumb")
			p
				a(href="https://oracle.webcanhcam.vn") Trang chủ
				span(class="separator")  | 
				span(class="last") Về chúng tôi
section.recruit-1(class="section-py")
	.container 
		h2(class="title-40 mb-base text-center") We have staff of various nationalities and a wide range of expertise.
		.content(class="font-secondary")
			.format-content 
				p.desc(class="text-lg font-normal") Plantec has local corporate offices in Japan, Vietnam (Ho Chi Minh City and Hanoi) and Thailand (Bangkok).
				p.desc(class="text-lg font-normal") We have experience in projects mainly in Asian countries, but also in North and Central America. Our strength is that we have more overseas projects than other Japanese architectural design firms.
				p.desc(class="text-lg font-normal") Plantec has local corporate offices in Japan, Vietnam (Ho Chi Minh City and Hanoi) and Thailand (Bangkok).
section.recruit-2(class="section-py bg-Primary-Primary_03")
	.container 
		h2(class="title-40 mb-base text-center !text-Neutral-White") JOB DESCRIPTION
		.recruit-2-list(class="grid md:grid-cols-5 grid-cols-2 gap-4")
			a(href="#") Architectural Design
			a(href="#") Architectural Design
			a(href="#") Architectural Design
			a(href="#") Architectural Design
			a(href="#") Architectural Design
section.recruit-3(class="section-py bg-Neutral-50")
	.container
		h2(class="title-40 !text-Primary-Primary_04") WORKING ENVIRONMENT 
		.content(class="flex flex-col gap-3 font-secondary mt-base")
			.desc(class="text-lg font-normal") Plantec began operations in Vietnam in 2011 and currently has approximately 25 staff members, nearly 90% of whom are Vietnamese nationals. While our clients are mainly Japanese companies, we also have many Vietnamese clients, and Vietnamese, English, and Japanese are spoken in the office.
			.desc(class="text-lg font-normal") Plantec began operations in Vietnam in 2011 and currently has approximately 25 staff members, nearly 90% of whom are Vietnamese nationals. While our clients are mainly Japanese companies, we also have many Vietnamese clients, and Vietnamese, English, and Japanese are spoken in the office.
		.recruit-3-main(class="flex flex-col md:flex-row gap-base mt-base")
			.col-left(class="md:w-7/12 w-full")
				.item 
					.image 	
						a(href="#" class="img-ratio ratio:pt-[478_801] lozad")
							img(src="./img/1.jpg", alt="") 
					.content(class="mt-3 font-secondary")
						.text Lively office environment with Vietnamese, Japanese and English
			.col-right(class="md:w-5/12 w-full flex flex-col gap-3")
				.item 
					.image 	
						a(href="#" class="img-ratio ratio:pt-[215_561] lozad")
							img(src="./img/1.jpg", alt="") 
					.content(class="mt-3 font-secondary")
						.text Lively office environment with Vietnamese, Japanese and English
				.item 
					.image 	
						a(href="#" class="img-ratio ratio:pt-[215_561] lozad")
							img(src="./img/1.jpg", alt="") 
					.content(class="mt-3 font-secondary")
						.text Lively office environment with Vietnamese, Japanese and English
section.recruit-4(class="section-py ")
	.container 
		h2(class="title-40 !text-Primary-Primary_04 mb-base") RECRUIT INFORMATION 
		.recruit-profile 
			h3(class="text-32 font-normal mb-6") DESIRED CANDIDATE PROFILE 
			ul 
				li A person who resonates with our Mission and Core Values.
				li A person who resonates with our Mission and Core Values.
				li A person who resonates with our Mission and Core Values.
				li A person who resonates with our Mission and Core Values.
		.recruit-job(class="mb-base") 
			h3(class="text-32 font-normal mb-6") JOB LISTINGS
			.text(class="text-lg font-normal font-secondary") Architectural Design ／ Urban Planning ／ Facility Design ／ Structural Design ／ Construction Supervision
		.recruit-location(class="")
			h3(class="text-32 font-normal mb-6") WORK LOCATION 
			a(href="#" class="text-lg font-normal font-secondary") Ho Chi Minh ／ Hanoi 
section.recruit-5(class="section-py bg-Primary-Primary_03")
	.container 
		.wrap(class="flex flex-col items-center justify-center text-center")
			a.button-primary.white(href="#") 
				span Contact Us
				.icon 
					i.fa-light.fa-arrow-right-long
			.content(class="mt-base text-Neutral-White font-secondary flex flex-col gap-3 text-lg")
				a.info(href="#") Click here for recruitment information about Plantec in Japan. 
				.desc(class="font-normal") 
					| For more information, including application conditions, 
					br
					| please contact us at the following e-mail address.
				a.mail(href="#") Vietnam：plac.vn@plantec.co.jp 